/* universal styles */

html{
  font-size: 16px;
  background-color: white;
  font-family: Helvetica, sans-serif;
  line-height: 1.2;
}

 img {
  display: block;
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}


.box {
  display: flex;
  flex-direction: row ;
  width: 100%;
  width: 100vw;
  margin: 0 auto 0 1.5rem;
}


/* header */

header .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.heading-img {
  display:  flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.navigation ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1.5rem;
}

.navigation li {
  margin-right: 1rem;
}

.header-mobile {
  display: none;
}

/* banner */

.banner {
  background-color: gray;
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 2rem 1.5rem;
  height: 30rem;
}

.banner-img {
  display: inline-flex;
  max-width: 60%;
  margin-right: 1.5rem;
  max-height: 100%;
}

.banner-info {
  max-width: 50%
}

.banner-button {
  margin-top: 0.75rem;
  color: white;
  background-color: black; /*change to a dark grey*/
  text-align: center;
  padding: .5rem;
}

/* articles */

.articles {
  display: flex;
  padding-top: 2rem;
}

  /* left side */

.main-article {
  max-width: 60%;
  padding: 2rem 0;
  margin-right: 1.5rem;
}

.main-info {
  margin: 2rem 0;
}

.main-info p {
  margin: 1.5rem 0;
}

  /* right side */

.side-articles {    /*figure out picture sizes*/
  width: 40%;
}

.side-article {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.side-img {
  width: 35%;
}

.side-info {
  display: flex;
  flex-direction: column;
  max-width: 65%;
  padding-left: 1rem;
}

.side-info span {
  margin: 0.5rem 0;
}

/* programs */

.courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4.5rem;
  background-color: grey;
}

.courses h2 {
  margin-bottom: 2rem;
}

.course-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.course { /*fix images in desktop mode*/
  max-width: 30%;
  height: 17rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-color: white;
}

/* .course-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
} */

.course-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.course-info span {
  margin: 0.5rem 0;
}

/* thesis */

.thesis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

/* left side */

.main-thesis {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

.main-video {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  max-width: 60%;
  padding-right: 1.5rem;
}

.video {
  max-width: 100%;
  height: auto;
}

.video-info h6 {
  margin: 2rem 0 0.5rem 0;
}

/* right side */

.side-videos {
  max-width: 40%;
}

.side-video {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.side-vid-img{
  max-width: 35%;
  height: auto;
  margin-right: 1rem;
}

.side-vid-info {
  display: flex;
  flex-direction: column;
  max-width: 65%;
}

.side-vid-info span {
  margin: 0.5rem 0;
}

/* footer */

footer {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

/* media queries */

@media only screen and (max-width: 480px) and (orientation: portrait) {

  /* universal styles */

  .box {
    margin: 1rem;
  }
  /* header */

  .box.heading {
    display: none;
  }

  .box.header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
  }

  .icon-pic {
    margin-right: 1rem;
  }

  .icon-info {
    position: absolute;
    top: 1.15rem;
    z-index: 5;
  }

  .header-icon:hover {
    opacity: 0.15;
    transition: opacity 200ms ease-out 100ms;
  }

  .header-icon .icon-info {
    opacity: 0;
  }

  .header-icon:hover .icon-info{
    opacity: 1;
    transition: opacity 200ms ease-in 200ms;
  }

/* banner */

  .banner {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .banner-img{
    max-width: 100%;
    margin: 0 auto;
  }

  .banner-img img {
    width: 100%;
  }

  .banner-info {
    width: 100%;
    padding: 2rem 1rem;
  }

  .banner-info h2 {
    margin-bottom: 2rem;
  }

  .banner-button {
    width: 100%;
    margin-top: -top: 1.5rem;
  }

/* articles */

  .articles {
    margin: auto 0;
    padding: 0;
  }

  .main-article {
    display: none;
  }

  .side-articles {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
  }

  .side-article {
    padding 0;
    float: left;
    flex-direction: column;
    width: 100%;
  }

  .side-img {
    width: 100%;
  }

  .side-img img{
    width: 100%;
    height: 15rem;
  }

  .side-info{
    padding-top: 2rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
  }

/* courses */

  .courses {
    display: none;
  }
  
  }

  .mobile-course {
    padding: 1rem 1.5rem 1.5rem 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    background-color: grey;
    color: white;
  }

  .mobile-course:hover {
    background-color: darkgrey;
    color: black;
  }



}
